.body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: black;
    color: white;
}        
    
.menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
    list-style: none;
    color: white;
}

.menu li {
    margin: 0 10px;
    color: white;
}

a {
    text-decoration: none;
    
}

nav ul li a {
    color: white;
    text-decoration: none;
}


main {
    padding: 5%;
}

nav ul {
    list-style: none;
    padding: 5%;
    
}

nav li {
    margin: 20px 0 ;
    padding: 5px 40px;
    border-radius: 50%;
    width: 100px;
    display: block;
    text-align: center;
    
}

nav li a {
    display: inline-block;
    
    color: rgb(227, 235, 241);
    text-decoration: none;
    font-size:20px;
    display: flex;
    justify-content: space-between;
}

.green {
    background-color: rgb(78, 235, 78);
}

.blue {
    background-color: #03A9F4;
}

.purple {
    background-color: rgb(230, 64, 114);
}

.dark-blue {
    background-color: #113872;
}

.light-green {
    background-color: rgb(54, 218, 54);
}

.green {
    background-color: teal;
}



footer {
    background-color: teal;
    color: black;
    padding: 10px;
    text-align: buttom;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: teal;
    padding: 10px;
}

.museum-name {
    font-weight: bold;
    color: white;
}

.top-nav-links {
    display: flex;
    align-items: center;

}

.top-nav-links a {
    margin-left: 15px;
    color: white;
    text-decoration: none;
}

.social-icons {
    width: 50px;
    height: 50px;
    margin: 5px;
    object-fit: contain;
    transform:scaleX(0.3)
    text
    
}

.social-icons::before {
    display: block;
    font-size: 14px;
    margin-top: 5px;
}
.social-icons img[src*="twitter"]{
    width: 50px;
    height: 50px;
    margin: 15px;
    flex-direction: row;
    justify-content: center;
     display: flex;
    display: inline-block;
}

.social-icons img[src*="facebook"]{
    width: 50px;
    height: 50px;
    margin: 15px;
    flex-direction: row;
    justify-content: center;
    display: flex;
    display: inline-block;
}

.social-icons img[src*="tiktok"]{
    width: 50px;
    height: 50px;
    margin: 15px;
    flex-direction: row;
    justify-content: center;
     display: flex;
     display: inline-block;
}

.social-icons img[src*="instagram"]{
    width: 50px;
    height: 50px;
    margin: 15px;
    flex-direction: row;
    justify-content: center;
     display: flex;
     display: inline-block;
}
.pay-with [src*="visa"]{
    width: 50px;
    height: 50px;
    flex-direction: row;
    justify-content: center;
    display: flex;
    display: inline-block;
    text-align: right;
}

.top-nav-links a {
  text-decoration: none;
  color: #333;
  margin-right: 20px;
}

.top-nav-links a img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  vertical-align: middle;
}

.login-link {
  background-color: #4CAF50;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.register-link {
  background-color: #03A9F4;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

